# même varaible d'environements que les secrets docker mais dans un .env pour le developpement local

APP_SECRET=0123456789
DATABASE_URL=mysql://symfony:!!!secret.mysql_password.txt!!!@symfony_db:3306/!!!secret.mysql_database.txt!!!?serverVersion=8.0.32&charset=utf8mb4
MYSQL_ROOT_PASSWORD=0123456789
MYSQL_DATABASE=dbname
MYSQL_USER=dbuser
MYSQL_PASSWORD=
