APP_ENV=dev
APP_SHARE_DIR=var/sharez
DEFAULT_URI=http://localhost
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# mysql://symfony:dbuser@dbuserpassword:3306/dbname
DATABASE_URL_FILE=/run/secrets/database_url
# php -r "echo bin2hex(random_bytes(64)).PHP_EOL;"
APP_SECRET_FILE=/run/secrets/app_secret

